@model UserViewModel

@{
    ViewBag.Title = Localizer["CreateUser"]?.Value;
}

@section Breadcrumb{
<ol class="breadcrumb df-breadcrumbs mg-b-10">
    <li class="breadcrumb-item">@ViewBag.Title</li>
    <li class="breadcrumb-item back-index">
         <a href="@Context.Request.Headers["Referer"].ToString()">@SharedLocalizer["BackToList"]?.Value</a>
    </li>
</ol>
}

<div data-label="@ViewBag.Title" class="df-example demo-forms">
    <form asp-controller="User" asp-action="Create" asp-route-Callback=@Context.Request.Query["Callback"]
        asp-route-IsPopup=@Context.Request.Query["IsPopup"] enctype="multipart/form-data" method="POST" data-parsley-validate novalidate>
        @Html.AntiForgeryToken()
        <div class="card">
            <div class="card-body">
                <div class="form-row">
                 <div class="form-group col-md-12">
             @Html.LabelFor(model => model.UserName)
             @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
             @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
     </div> 
    <div class="form-group col-md-12">
             @Html.LabelFor(model => model.FullName)
             @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
             @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
     </div> 
    <div class="form-group col-md-12">
             @Html.LabelFor(model => model.Email)
             @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
             @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
     </div> 
    <div class="form-group col-md-12">
             @Html.LabelFor(model => model.Address)
             @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
             @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
     </div> 
    <div class="form-group col-md-12">
             @Html.LabelFor(model => model.Mobile)
             @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control" } })
             @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
     </div> 
    <div class="form-group col-md-12">
             @Html.LabelFor(model => model.Status)
             @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
             @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
     </div> 
    <div class="form-group col-md-12">
             @Html.LabelFor(model => model.IsAdmin)
             @Html.EditorFor(model => model.IsAdmin, new { htmlAttributes = new { @class = "form-control" } })
             @Html.ValidationMessageFor(model => model.IsAdmin, "", new { @class = "text-danger" })
     </div> 
    <div class="form-group col-md-12">
             @Html.LabelFor(model => model.LANG)
             @Html.EditorFor(model => model.LANG, new { htmlAttributes = new { @class = "form-control" } })
             @Html.ValidationMessageFor(model => model.LANG, "", new { @class = "text-danger" })
     </div> 
    <div class="form-group col-md-12">
             @Html.LabelFor(model => model.StypeId)
             @Html.EditorFor(model => model.StypeId, new { htmlAttributes = new { @class = "form-control" } })
             @Html.ValidationMessageFor(model => model.StypeId, "", new { @class = "text-danger" })
     </div> 
    <div class="form-group col-md-12">
             @Html.LabelFor(model => model.About)
             @Html.EditorFor(model => model.About, new { htmlAttributes = new { @class = "form-control" } })
             @Html.ValidationMessageFor(model => model.About, "", new { @class = "text-danger" })
     </div> 
    <div class="form-group col-md-12">
             @Html.LabelFor(model => model.FacebookUrl)
             @Html.EditorFor(model => model.FacebookUrl, new { htmlAttributes = new { @class = "form-control" } })
             @Html.ValidationMessageFor(model => model.FacebookUrl, "", new { @class = "text-danger" })
     </div> 
    <div class="form-group col-md-12">
             @Html.LabelFor(model => model.TwiterUrl)
             @Html.EditorFor(model => model.TwiterUrl, new { htmlAttributes = new { @class = "form-control" } })
             @Html.ValidationMessageFor(model => model.TwiterUrl, "", new { @class = "text-danger" })
     </div> 
    <div class="form-group col-md-12">
             @Html.LabelFor(model => model.DateOfBirth)
             @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control" } })
             @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
     </div> 
    <div class="form-group col-md-12">
             @Html.LabelFor(model => model.SocialNo)
             @Html.EditorFor(model => model.SocialNo, new { htmlAttributes = new { @class = "form-control" } })
             @Html.ValidationMessageFor(model => model.SocialNo, "", new { @class = "text-danger" })
     </div> 
    <div class="form-group col-md-12">
             @Html.LabelFor(model => model.SocialRegisterDate)
             @Html.EditorFor(model => model.SocialRegisterDate, new { htmlAttributes = new { @class = "form-control" } })
             @Html.ValidationMessageFor(model => model.SocialRegisterDate, "", new { @class = "text-danger" })
     </div> 
    <div class="form-group col-md-12">
             @Html.LabelFor(model => model.SocialRegisterProvince)
             @Html.EditorFor(model => model.SocialRegisterProvince, new { htmlAttributes = new { @class = "form-control" } })
             @Html.ValidationMessageFor(model => model.SocialRegisterProvince, "", new { @class = "text-danger" })
     </div> 
    <div class="form-group col-md-12">
             @Html.LabelFor(model => model.PermanentAddress)
             @Html.EditorFor(model => model.PermanentAddress, new { htmlAttributes = new { @class = "form-control" } })
             @Html.ValidationMessageFor(model => model.PermanentAddress, "", new { @class = "text-danger" })
     </div> 
    <div class="form-group col-md-12">
             @Html.LabelFor(model => model.Photo)
             @Html.EditorFor(model => model.Photo, new { htmlAttributes = new { @class = "form-control" } })
             @Html.ValidationMessageFor(model => model.Photo, "", new { @class = "text-danger" })
     </div> 
    <div class="form-group col-md-12">
             @Html.LabelFor(model => model.FCMToken)
             @Html.EditorFor(model => model.FCMToken, new { htmlAttributes = new { @class = "form-control" } })
             @Html.ValidationMessageFor(model => model.FCMToken, "", new { @class = "text-danger" })
     </div> 

<!--[FieldTemplates]-->
                </div>
            </div>
        </div>
        <div class="float-right mt-2">
            <button type="submit" class="btn btn-primary">@SharedLocalizer["Save"]</button>
        </div>
    </form>
</div>
 